@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

html{
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
 }
 a {text-decoration: none;}

body {

  margin: 0;
  font-family: 'Roboto', sans-serif;
 }

 
 /* Screens Settings */
.mainscreen {

  /*display: table-cell;*/
  height: 100vh;
  font-family: 'Sen', sans-serif;
}

#avatar {
  border-radius: 50%;
}



.social-item {
  position: relative;
  display: block;
  padding: .1rem 0.5rem;

}

.social-item:hover {
  transform: scale(1.2);
}

.social-item img {
  max-width: 30px;
}


h1 {

  font-family: 'Arsenal', sans-serif;
}

.bg-bo {
  background-color: #fff6;
}
/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}